# Gradle 관련
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# 소스코드 저장
!src/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse 관련
.apt_generated
.classpath
.factorypath
.project
.settings
bin/

# NetBeans 관련
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code 관련
.vscode/

# OS 관련
.DS_Store
Thumbs.db

# 로그 파일
*.log